/* mobile view */
@media screen and (max-width: 600px) {
    header {
        margin: 10px;
    }

    nav {
        justify-content: space-between;
        margin-left: 0;
    }

    .heading img {
        width: 34px;
        height: 28px;
    }

    .nav-title {
        font-size: 1.2rem;
    }

    .ul li {
        display: none;
    }

    .menubar {
        display: block;
    }

    /* banner section */
    .banner-content-container {
        padding: 1rem;
    }

    .banner-title {
        font-size: 2.4rem;
        margin: 2px;
    }

    .banner-description {
        font-size: 0.8rem;
        margin-top: 0;
    }

    form {
        flex-direction: column;
        margin: 0 1rem;
        padding: 1rem;
    }

    header {
        min-height: 500px;
        margin-top: 0;
    }

    form input,
    select,
    button {
        width: 100%;
    }

    form input[type="text"] {
        width: calc(100% - 33px);
    }

    .popular-tours {
        flex-direction: column;
        margin: 10px;
        gap: 0;
    }

    .popular-tours-img img {
        width: 100%;
    }

    .section-title {
        font-size: 1.25rem;
    }

    .text-description {
        font-size: 0.9rem;
    }

    /* destination section */
    .destination {
        margin: 0 10px;
    }

    .destination-pic-container {
        display: flex;
        flex-direction: column;
    }

    .pic {
        width: 180%;
        border: 1px solid red;
        position: relative;
        right: 70px;
        transform: scaleX(1.25);
    }

    #pic-5 {
        position: relative;
        right: 70px;
        transform: scaleX(1.25);
    }


}