/* mobile view */
@media screen and (max-width: 600px) {
    header {
        margin: 10px;
    }

    nav {
        justify-content: space-between;
        margin-left: 0;
    }

    .heading img {
        width: 34px;
        height: 28px;
    }

    .nav-title {
        font-size: 1.2rem;
    }

    .ul li {
        display: none;
    }

    .menubar {
        display: block;
    }

    /* banner section */
    .banner-content-container {
        padding: 1rem;
    }

    .banner-title {
        font-size: 2.4rem;
        margin: 2px;
    }

    .banner-description {
        font-size: 0.8rem;
        margin-top: 0;
    }

    form {
        flex-direction: column;
        margin: 0 1rem;
        padding: 1rem;
    }

    header {
        min-height: 600px;
        background-repeat: repeat;
    }

    form input,
    select,
    button {
        width: 100%;
    }

    form input[type="text"] {
        width: calc(100% - 33px);
    }

}